@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
html{
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.titre{
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.btnamis{
    margin-bottom: 3vh;
}