<!DOCTYPE html>
<html lang="en" >
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>CodePen - Chat (WebRTC)</title>
   <link href="../static/css/style.css" rel="stylesheet">
   <link th:href="@{/css/style.css}" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<ul class="chat-thread border rounded p-5">

   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam. </p>
   </li>
   <li class="chat-thread-item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   </li>

</ul>

<form class="chat-window">
   <input class="chat-window-message m-4" name="chat-window-message" type="text" autocomplete="off" autofocus />
</form>
<!-- partial -->
<script>
   document.querySelector('.chat-window-message').addEventListener('keypress', function(e){
      if(e.keyCode == 13 && this.value == ''){
         e.preventDefault();
      }
   });
</script>
</body>
</html>
