<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="display: flex; width: 430px; flex-direction: column; padding-top: 176px;">
    <form id="saveForm" action="/chats/add" method="post">
        <li class="list-group-item"><button type="button" class="btn btn-danger" style="margin-bottom: 20px;" onclick="history.go(-1);">Retour</button></li>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><input type="hidden" th:value="${user.id}" name="userId"></li>
                <li class="list-group-item"><label for="chatName">Nom de la conversation: </label></li>
                <li class="list-group-item"><input type="text" id="chatName" name="chatName"></li>
            </ul>
        </div>
        <li class="list-group-item"><input form="saveForm" type="submit" value="Créer" class="btn btn-primary" style="margin-top: 20px;"></li>
    </form>
</div>

</body>
</html>