<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1 style="width: 50%; margin: auto" th:text="|WELCOME  ${user.getFirstName()}|"></h1>
<br/>
<input type="hidden" th:value="${user.id}" name="id">
<a th:href="|user/${user.id}|">
    <button type="button">Mon compte</button>
</a>

<a th:href="|user/${user.id}/friends|">
    <button type="button">Liste des amis</button>
</a>

<a th:href="@{/allChats}">
    <button type="button">Les discussions</button>
</a>

<a th:href="@{/logout}">
    <button type="button">LOGOUT</button>
</a>
</body>
</html>